@media (max-width: 768px) {
    .showcase-content {
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #FFFFFF;
    }

    .nav-display-number {
        display: none;
    }

    .bottom-style {
        width: 80%;
    }

    .order {
        display: none;
    }

    .image {
        display: none;
    }

    .service {
        margin-top: 56px;
        font-size: 30px;
        line-height: 37px;
        margin-bottom: 38px;
    }

    .service-text-first {
        margin: 35px 0 36px 0;
    }

    .work-title {
        font-size: 25px;
        line-height: 30px;
        display: flex;
        justify-content: center;
    }

    .design-display {
        order: -1;
    }

    .service-title {
        font-size: 25px;
        line-height: 30px;
    }

    .service-example {
        margin-top: 35px;
    }

    .requests {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-top: 79px;
    }

    .service-list {
        margin-bottom: 0;
    }

    .images--display {
        display: none;
    }

    .images-display {
        display: none;
    }

    .images-mob {
        width: 90%;
        margin-bottom: 56px;
    }

    .plan {
        display: none;
    }

    .plan-back-color {
        background-color: #FFF0E9;
        padding: 80px 0 80px 0;
    }

    .check-display {
        margin-top: 28px;
        text-align: center;
    }

    .design {
        display: none;
    }

    .service-title {
        font-size: 25px;
        line-height: 30px;
    }

    .card-texts,
    .card__texts {
        padding-left: 0;
        position: absolute;
        margin-left: 15px;
    }

    .card-text2 {
        line-height: 18px;
    }

    .question-title {
        font-size: 20px;
        line-height: 24px;
    }

    .question {
        font-size: 15px;
        line-height: 18px;
    }

    .service-text-lorem {
        font-size: 15px;
        line-height: 18px;

    }

    .accordion-button::after {
        height: 22px;
        width: 22px;
    }

    .accordion-button:not(.collapsed)::after {
        height: 30px;
        width: 30px;
    }

    .footer-display {
        display: none;
    }

    .bottom-image {
        padding: 42px 20px 0;
    }

    .bottom-image-display {
        margin-top: 78px;
        margin-bottom: 63px;
    }

    .work-title {
        margin-bottom: 55px;
    }

    .service--line {
        margin-bottom: 12px;
    }


}

@media (min-width: 768.1px) {
    .images-mob {
        display: none;
    }

    .order-images {
        display: none;
    }

    .design-style {
        display: none;
    }
}
